*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  background-color: #1e2125;
  color: #c4cfde;
}
.container{
  display: block;
  max-width: 1365px;
  margin: auto;
}